TT_DB_HOST=127.0.0.1
TT_DB_PORT=3306
TT_DB_USER=tt_user
TT_DB_PASSWORD=<dat-mat-khau-mysql-cua-ban>
TT_DB_NAME=teamtrack
TT_SECRET_KEY=<chuoi-ngau-nhien-64-ky-tu: python3 -c "import secrets; print(secrets.token_hex(32))">
